@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor;


<!DOCTYPE html>
<html lang="en">

    <head>
	    <meta charset="utf-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>@ViewData["Title"] Blood Bank System</title>
		<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
		<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />


       <link href="~/inc/css/style.css" rel="stylesheet" />

       <link href="~/datatables/css/jquery.datatables.css" rel="stylesheet" />


      <script src="~/jquery/jquery.min.js"></script>
      <script src="~/datatables/js/jquery.datatables.min.js"></script>

      <link href="~/inc/css/buttons.datatables.min.css" rel="stylesheet" />



      <script src="~/inc/js/datatables.buttons.min.js"></script>
      <script src="~/inc/js/jszip.min.js"></script>
      <script src="~/inc/js/pdfmake.min.js"></script>
      <script src="~/inc/js/vfs_fonts.js"></script>
      <script src="~/inc/js/buttons.html5.min.js"></script>
      <script src="~/inc/js/buttons.print.min.js"></script>


      <script src="~/inc/js/datatables.fixedcolumns.min.js"></script>
      <script src="~/inc/js/buttons.colvis.min.js"></script>


    </head>
    <body>
		<div class="navigation">
			<ul class="menu">

				<li>
					<a href="">
					<i class='icon fas fa-droplet'></i>
				    <span class="title">BBMS</span>
					</a>
				</li>




				<li class="active">
					<a href="/dashboard/dashboard">
						<i class='icon fas fa-home-alt'></i>
						<span class="title">Dashboard</span>
					</a>
				</li>
			@if (@HttpContextAccessor.HttpContext.Session.GetString("role") == "Admin")
			{
				<li>
					<a href="/users/view_users">
						<i class='icon fas fa-users'></i>
						<span class="title">Users</span>
					</a>
				</li>
			}
				


				<li>
					<a href="/patients/patient_view">
						<i class='icon fas fa-hospital-user'></i>
						<span class="title">Patients</span>
					</a>
				</li>

				<li>
					<a href="/donors/view_donors">
						<i class='icon fas fa-hand-holding-droplet'></i>
						<span class="title">Donors</span>
					</a>
				</li>

				<li>
					<a href="/BStock/view_blood">
						<i class='icon fas fa-sack-dollar'></i>
						<span class="title">Blood Stock</span>
					</a>
				</li>

				<li>
					<a href="/investigation/view_investigation">
						<i class='icon fas fa-vial-virus'></i>
						<span class="title">Investigation</span>
					</a>

				</li>

				<li>
					<a href="/donation/Index">
						<i class='icon fas fa-vial-virus'></i>
						<span class="title">Donation</span>
					</a>

				</li>


				<li>
					<a href="/transfare/Index">
						<i class='icon fas fa-exchange'></i>
						<span class="title">Transfusion</span>
					</a>
				</li>

				<li>
					<a href="/users/changepass">
						<i class='icon fas fa-exchange'></i>
						<span class="title">Change Pass</span>
					</a>
				</li>



				<li class="logout">
					<a href="/users/logout">
						<i class='icon fas fa-sign-out-alt'></i>
						<span class="title" onclick="return confirm('Are you sure you want to leave?!..')">Logout</span>

					</a>
				</li>
			</ul>
		</div>
		
		<div class="container">
        <main role="main" class="dashboard">
            @RenderBody()
        </main>
		</div>
    
 
     <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
     <link href="~/font-awesome/css/all.min.css" rel="stylesheet" />
     <script src="~/font-awesome/js/all.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<style>
	* {
		font-family: Tahoma;
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}


	:root {
		/*===== colors ===== */
		--body-color: #fff;
		--sidebar-color: #dc3545;
		--primary-color:#fff;
		--primary-color-light: #f6f5ff;
		--toggle-color: #ddd;
		--text-color: #000;
		/* ===== trasition =====*/

		--tran-02: all 0.2s ease;
		--tran-03: all 0.3s ease;
		--tran-04: all 0.4s ease;
		--tran-05: all 0.5s ease;
	}

	body.dark {
		--body-color: #000;
		--sidebar-color: #242526;
		--primary-color: #3A3B3C;
		--primary-color-light: #3A3B3C;
		--toggle-color: #FFF;
		--text-color: white;
	}



	body {
	
		display:flex;
		
	}


	/*navigation*/
	.navigation {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		height: 100vh;
		width: 240px;
		padding: 0 1.7rem;
		background: var(--sidebar-color);
		transition: var(--tran-05);
		overflow: hidden;
	}

	.navigation:hover{
		width: 240px;
		transition: 0.5s;
	}

		.menu{
			position: relative;
			height: 88%;
			list-style: none;
			padding : 0;
		}

			.menu li {
				padding: 1rem;
				margin : 8px 0;
				border-radius: 8px;
				transition: all 0.5s ease-in-out;
			}

			.menu li:hover
		    {
			 background: #000;
			color: #dc3545;
			}
		    .navigation ul li:nth-child(1) {
					margin-bottom: 40px;
					pointer-events: none;
		     }

				.menu a {
					color: #fff;
					font-size: 18px;
					text-decoration: none;
					display: flex;
					align-items: center;
					gap: 1.5rem;
				}
				 .menu a span{
					 overflow: hidden;
				 }

				 .menu a .icon{
					 font-size: 1.2rem;
				 }

				 .logout{
					 position: absolute;
					 bottom: 0;
					 left:auto;
					 width: 100%;
				 }
			



</style>


